     <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <div class="slimscroll-menu" id="remove-scroll">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu" id="side-menu">
                            <li class="menu-title">Main Menu</li>
                            <li>
                                <a href="/admin" class="waves-effect">
                                    <i class="mdi mdi-view-dashboard"></i> <span> Dashboard </span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/articles" class="waves-effect"><i class="mdi mdi-grease-pencil"></i><span> Articles </span></a>
                            </li>
                            <li>
                                <a href="/admin/expenses" class="waves-effect"><i class="mdi mdi-currency-usd"></i> <span> Expenses </span> </a>
                            </li> 
                            <li>
                                <a href="/admin/email-inbox" class="waves-effect"><i class="mdi mdi-email-outline"></i><span> Email</span></a>
                            </li>   
                            <li>
                                <a href="/admin/traffic" class="waves-effect"><i class="mdi mdi-traffic-light"></i><span> Traffic </span></a>
                            </li>     
                        </ul>

                    </div>
                    <!-- Sidebar -->
                    <div class="clearfix"></div>

                </div>
                <!-- Sidebar -left -->

            </div>
            <!-- Left Sidebar End -->

 
           